<!DOCTYPE html>

<html>
<head>
  <title>Sudo Feelings</title>
</head>
<body>

  <h1>Just tell me how do you feel</h1>

  <form method="post" action="/blog">
    <p>
      <textarea name="post[content]">You can trust me, I promise</textarea>
    </p>
    </p>
      <input type="text" name="post[author]" placeholder="Author Name" >
    </p>
    <p> 
      <input type="submit">
    </p> 
  </form>

</body>
</html>